<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../utils/css/menu_colaborador.css"> <!--  css do menu -->
</head>
<body>
    <div id="menuColaborador"></div> <!--  div onde ficará o menu, deve possuir esse nome como id -->
 
    <script src="../../utils/js/menu_colaborador.js"></script>  <!-- javascript para puxar a div -->
</body> 
</html>