
<!-- <link rel="stylesheet" href="menu_admin.css"> -->

    <div id="menuAdmin" class="menuAdmin">
        <img src="http://127.0.0.1:5501/components/menu/imagens/logoAdmin.png" alt="" class="logoAdmin">
        <div class="botoesMenu">
            <button> <img src="http://127.0.0.1:5501/components/menu/imagens/gerenciarUsuario.png" alt="" class="iconeMenu"> Gerenciar Usuarios</button>
            <button> <img src="http://127.0.0.1:5501/components/menu/imagens/gerenciarEstoque.png" alt="" class="iconeMenu">  Gerenciar Estoque</button>
            <button> <img src="http://127.0.0.1:5501/components/menu/imagens/gerenciarDesafio.png" alt="" class="iconeMenu">Gerenciar Desafio</button>
            <button> <img src="http://127.0.0.1:5501/components/menu/imagens/verPedidos.png" alt="" class="iconeMenu">Ver Pedidos</button>
            <button> <img src="http://127.0.0.1:5501/components/menu/imagens/gerarRelatorio.png" alt="" class="iconeMenu">Gerar Relatorio</button>
        </div>
        <button class="sair"> <img src="http://127.0.0.1:5501/components/menu/imagens/sairAdmin.png" alt="" class="iconeMenu">Sair</button>

    </div>


