
<!-- <link rel="stylesheet" href="../../utils/css/menu_colaborador.css"> -->

    <div class="menuColaborador">
            <img src="../../utils/img/logo_laranja.png" alt="logoDigix" class="logo">
            <a href="../../colaborador/Home/Home.Html">Home</a>
            <a href="../../colaborador/produtos/lista_produtos.html">Produtos</a>
            <a href="../../colaborador/ranking/ranking.html">Ranking</a>
            <a href="../../colaborador/carrinho/carrinho.html">Carrinho</a>

            <div class="perfilColaborador" id="perfilColaborador">
                
                    <img src="../../utils/img/icone_usuario.png" alt="" class="iconeUsuario">
                    <div class="userInfo">
                        <h1>Fulano</h1>
                        <h1 class="saldo"><strong class="digicoin">DG$</strong> 9999</h1>
                    </div>
                    <img src="../../utils/img/sino.png" alt="" class="sino">
                    <img src="../../utils/img/flecha_cima.png" alt="" class="flecha" id="flecha">
                    
            </div>
    </div>

<script src="../../utils/js/menu_colaborador.js"></script>
    
